#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8 {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.box img {
    width: 100%;
}

button {
    width: 60px;
    height: 30px;
    background-color: hotpink;
    color: yellow;
    float: left;
}