header {
    width: 100%;
    height: 100px;
    background-color: grey;
    color: #000;
}

h1 {
    position: relative;
    top: 15px;
    font-size: 3em;
}

.main {
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    color: #000;
}

.main p {
    font-size: 1.2em;
    padding: 66px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: yellow;
    color: #000;
}

footer p {
    position: relative;
    top: 40px;
    font-size: 1.1em;
}

footer span {
    font-weight: bold;
}

@media screen and (max-width:480px) {
    .laptop, .desktop {
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:1023px) {
    .mobile, .desktop {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .mobile, .laptop {
        display: none;
    }
}