<!DOCTYPE html>
<html>
<head>
	<title>Intro to Databases</title>
</head>
<body>
	<h1>Check your terminal to see your users!</h1>
	{{ all_users }}
	{% for user in all_users %}
		<p>{{ user.name }}</p>
	{% endfor %}

	<h1>Add a User</h1>
	<form action="/request" method="POST">
    	<p>Name: <input type="text" name="name"></p>
    	<p>Email: <input type="text" name="email"></p>
    	<input type="submit" value="Add User">
	</form>

</body>
</html>