<div id="wrapper">
    <h1>Restaurant List</h1>
    <button [routerLink]="['/create']">Add a new restaurant</button>
    <div *ngFor="let restaurant of restaurants">
        <p>{{restaurant.title}}</p>
        <p>{{restaurant.cuisine}}</p>
        <button [routerLink]="['/showreviews/' + restaurant._id]" id="readReview">Read Reviews</button> <button [routerLink]="['/writereview/' + restaurant._id]" id="writeReview">Write Review</button><button [routerLink]="['/update/'+ restaurant._id]">Edit</button>
    </div>
</div>