#wrapper {
    width: 100%;
    height: 1000px;
    background-color: #000;
    color: red;
    text-align: center;
}

button {
    background-color: red;
    color: orange;
    margin-left: 5px;
    border-radius: 5px;
}