#addGroup {
    display: inline-block;
    float: right;
    border: 2px solid #000;
    width: 375px;
    height: 300px;
    position: relative;
    right: 60px;
    bottom: 50px;
}

input#name {
    position: relative;
    left: 8px;
}

input#descrip {
    height: 100px;
    position: relative;
    top: 20px;
}

#create {
    position: relative;
    top: 30px;
    left: 83px;
}

#logoutButton {
    position: relative;
    left: 1150px;
    bottom: 115px;
}