<!DOCTYPE html>
<html>
    <head>
        <title>Counter</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <h1>Times page visited:</h1>
        <h2> 1 </h2>
    </body>
</html>