<!DOCTYPE html>
<html>
    <head>
        <title>Dojo Survey</title>
    </head>
    <body>
            <h1>Show Page</h1>
            <h3>Info Submitted:</h3>
            <p>Name: {{ name_on_template }}</p>
            <p>Email: {{ email_on_template }}</p>
            <button>Go Back</button>
    </body>
</html>