<div id="wrapper">
    <button [routerLink]="['/home']">Movies</button>
    <div id="createWrapper">
        <h1>Submit a movie and your review</h1>
        <form (submit)="createMovie()">
            <span>Movie Title</span> <input type="text" name="movie" [(ngModel)]="movie.title">
            <br>
            <span>Your Name</span> <input type="text" name="name" [(ngModel)]="movie.name">
            <br>
            <span>Stars</span> <select name="dropdown" [(ngModel)]="movie.stars">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br>
            <span>Your Review</span> <input type="text" name="review" [(ngModel)]="movie.reviews">
            <br>
            <input type="submit" value="Submit" class="submit">
            <input type="submit" value="Cancel" class="submit" id="cancel">
        </form>
    </div>
</div>