<!DOCTYPE html>
<html>
  <head>
    <title>Local Social</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #logOutButton {
        background-color: red;
        color: orange;
        position: relative;
        left: 1190px;
      }

      p {
        color: red;
      }
    </style>
  </head>

  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
          <p><%= error %></p>
      <% end %>
    <% end %>
    <% if current_user %>
      <form action="/sessions/<%=current_user.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out" id="logOutButton">
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>