<div id="createWrapper">
  <h2>Create New Task</h2>
  <form (submit)="createTask()">
      <!-- use the json pipe to see how newTask changes in real time -->
      <p> {{ newTask | json }} </p>
      Title:<input type="text" name="title" [(ngModel)]="newTask.title" id="title"/>
      <br>
      <br>
      Description:<input type="text" name="description" [(ngModel)]="newTask.description"/>
      <br>
      <br>
      <input type="submit" value="Create Task"/>
  </form> <!-- Create Task -->
</div>

<br>
<br>

<button (click)="getAllTasks()">Get All Tasks</button>
<div *ngFor="let task of tasks">
  <div>
    {{task.title}}
    <button (click)="editTasks(task)">Update</button>
  </div>
  <br>
</div>
<br>
<br>

<div id="updateWrapper">
  <h2>Update Tasks</h2>
  <form (submit)="updateTask(task)" id="updateForm">
      <p> {{ editTask | json }} </p>
    Title:<input type="text" name="title" [(ngModel)]="editTask.title" id="title"/>
      <br>
      <br>
      Description:<input type="text" name="description" [(ngModel)]="editTask.description"/>
      <br>
      <br>
      <input type="submit" value="Update Task"/>
  </form>
</div>