* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    height: 1000px;
    background-color: #000;
    color: red;
    border: 3px solid red;
}

#createWrapper {
    position: relative;
    left: 21px;
    top: 75px;
    width: 1200px;
    height: 500px;
    border: 1px solid red;
}

input, select {
    display: block;
}

select {
    width: 167px;
}

input, option, select {
    background-color: red;
}

.submit {
    width: 75px;
    display: inline-block;
}

#cancel {
    margin-left: 17px;
}

form {
    position: relative;
    left: 500px;
    top: 75px;
}

span {
    position: relative;
    right: 90px;
    top: 18px;
}

h1 {
    position: relative;
    left: 35px;
    top: 20px;
}

button {
    position: relative;
    top: 10px;
    left: 20px;
    background-color: red;
    color: orange;
    border-radius: 5px;
}