<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Edit a User</h1>
        <form action="/users/{{ user.idusers }}/update/one" method="POST">
            <p>Name: <input type="text" name="name" value="{{ user.name }}"></p>
            <p>Email: <input type="text" name="email" value="{{ user.email }}"></p>
            <input id="pushUp" type="submit" value="Update User">
        </form>
    </body>
</html>