<!DOCTYPE html>
<html>
    <head>
        <title>Show User</title>
    </head>
    <body>
        <h1>User: {{ user.idusers }}</h1>
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p><a href="/users/{{ user.idusers }}/update">Edit</a>|<a href="/users/{{ user.idusers }}/destroy">Delete</a></p>
    </body>
</html>