<!DOCTYPE html>
<html>
    <head>
        <title>User</title>
    </head>
    <body>
        <table>
            <h1>Users</h1>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            {% for user in all_users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="/users/{{ user.idusers }}">Show</a>
                    <a href="/users/{{ user.idusers }}/update">Update</a>
                    <a href="/users/{{ user.idusers }}/destroy">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h1>Add a User</h1>
        <form action="/request" method="POST">
            <p>Name: <input type="text" name="name"></p>
            <p>Email: <input type="text" name="email"></p>
            <input id="pushUp" type="submit" value="Add User">
        </form>
    </body>
</html>