<!doctype html>

<html lang="en">
<head>
  

  <title>success</title>

</head>

<body>
    <h1>Success! Welcome, {{ user.first_name }} </h1>
    <h3>Successfully registered (or logged in)!</h3>
    <a href="/destroy">Log Out</a>
</body>
</html>