<div id="wrapper">
    <button [routerLink]="['/home']" id="home">Restaurants</button>
    <div id="errors">
        <p>{{typo}}</p>
        <p>{{typo2}}</p>
    </div>
    <form (submit)="onEdit()">
        <h2>Edit restaurant:</h2>
        Title: <input type="text" name="restaurant.title" [(ngModel)]="restaurant.title"/>
        Cuisine: <input type="text" name="restaurant.cuisine" [(ngModel)]="restaurant.cuisine"/>
        <input  type="submit" value="Update"/>
    </form>
    <button value="Cancel" id="cancel" [routerLink]="['/home']">Cancel</button>
</div>