#wrapper {
    width: 100%;
    height: 1000px;
    background-color: #000;
    color: red;
}

input {
    background-color: red;
}

button, input[type="submit"] {
    background-color: red;
    color: orange;
    border-radius: 5px;
}

input[type="submit"] {
    margin-left: 5px;
}

#cancel {
    position: relative;
    left: 505px;
    bottom: 20px;
}

#home {
    position: relative;
    top: 5px;
    left: 5px;
}