<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cats</title>
        <link rel="stylesheet" type="text/css" href="cats.css">
    </head>
    <body>
        <div>
            <a href="/cat1"><img src="img/cat1.jpg"></a>
        </div>
        <div>
            <a href="/cat2"><img src="img/cat2.jpg"></a>
        </div>
        <div>
            <a href="/cat3"><img src="img/cat3.jpg"></a>
        </div>
        <div>
            <a href="/cats1"><img src="/img/cats.jpg"></a>
        </div>
        <div>
            <a href="/cats2"><img src="/img/cats2.jpg"></a>
        </div>
    </body>
</html>