<!DOCTYPE html>
<html>
    <head>
        <title>Cat Details</title>
        <link rel="stylesheet" type="text/css" href="details.css">
    </head>
    <body>
        <% for (var cat of cat) { %>
            <h3>Name: <%= cat.name %></h3>
            <h3>Favorite Food: <%= cat.favFood%></h3>
            <h3>Age: <%= cat.age%></h3>
            <h3>Sleeping Spots: <%= cat.sleep%></h3>
        <% } %>
    </body>
</html>