<style>
    body {
        background-color: #000;
        color: red;
    }

    a {
        color: red;
        text-decoration: none;
    }
</style>

<h1>Editing <%= @user.alias %></h1>
<form action='/users/<%= @user.id %>/edit' method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <span>First Name:</span> <input type="text" name="user[firstName]" value="<%= @user.firstName %>">
    <span>Last Name:</span> <input type="text" name="user[lastName]" value="<%= @user.lastName %>">
    <span>Alias:</span> <input type="text" name="user[alias]" value="<%= @user.alias %>">
    <input type='submit' value='Update'/>
</form>