<style>
    body {
        background-color: springgreen;
        color: red;
    }

    a { 
        position: relative;
        right: 100px;
        bottom: 20px;
        color: blue;
        text-decoration: none;
        float: right;
    }

    div {
        display: block;
        width: 400px;
        height: 100px;
        margin-left: 440px;
        border: 3px solid red;
        border-radius: 5px;
        text-align: center;
    }

    span {
        position: relative;
        right: 150px;
        top: 5px;
    }

    #content {
        position: relative;
        top: 22px;
        left: 23px;
    }

    #deleteButton {
        position: relative;
        top: -14px;
        left: -7px;
        color: red;
        font-weight: bold;
    }

    .likeUnlikeButtons {
        position: relative;
        top: 30px;
        right: 150px;
    }

    p {
        position: relative;
        left: 70px;
        top: 12px;
    }

    p a {
        color: blue;
    }

    input[type="submit"] {
        color: red;
        background-color: #00ffd9;
    }

    h2 {
        text-align: center;
    }

    #edit {
        position: relative;
        top: 20px;
        right: 5px;
    }
</style>

<a href="/posts">LS Feed</a>

Name: <%= @user.firstName %> <%= @user.lastName %>
<br>
Alias: <%= @user.alias %>
<br>
Email: <%= @user.email %>
<br>
<hr>
<br>
<%= @user.alias %> has made <%= @user.posts.count %> post(s)
<br>
<%= @user.alias %> has liked <%= @user.postsLiked.count %> post(s)
<br>
<%= @user.alias %> has <%= @likes.count %> like(s)
<br>
<br>
<h2><%= @user.alias %>'s Posts</h2>
<br>
<br>
<% @posts.each do |post| %>
    <div>
        <span><b><%= post.user.alias %></b></span>
        <br>
        <span id="content"><%= post.content %></span>
        <% if post.user_id == current_user.id %>
            <a href="/posts/<%= post.id %>" data-method="delete" id="deleteButton">Delete</a>
        <% end %>
        <% if not post.usersWhoLiked.include?(current_user) %>
            <form action="/like/<%= post.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
                <input type="submit" value="Like" class="likeUnlikeButtons">
            </form>
        <% else %>
        <form action="/unlike/<%= post.id %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Unlike" class="likeUnlikeButtons">
        </form>
        <% end %>
        <% if post.user_id == current_user.id %>
            <a href="/posts/<%= post.id %>/edit" id="edit">Edit Post</a>
        <% end %>
        <p><a href="/posts/<%= post.id %>"><%= Like.where(post: post).count %> Like(s)</a></p>
        <br>
    </div>
    <br>
    <br>
<% end %>