<!DOCTYPE html>
<html>
<head>
    <title>Create Animal</title>
    <link rel="stylesheet" type="text/css" href="/createAnimal.css">
</head>
<body>
    <a href="/"><button>All Animals</button></a>
    <div>
        <h2>Create an Animal</h2>
        <form action="/animals" method="POST">
            Name:<input type="text" name="name" id="name">
            <br>
            <br>
            Species:<input type="text" name="animal">
            <br>
            <br>
            Age:<input type="number" name="age" id="age">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>