<!DOCTYPE html>
<html>
    <head>
        <title>Animals Dashboard</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <a href="/animals/new"><button>Create an Animal</button></a>
        <% for (var x in allAnimals.reverse()) { %>
            <h3>Name: <%= allAnimals[x].name %></h3>
            <h3>Species: <%= allAnimals[x].animal %></h3>
            <h3>Age: <%= allAnimals[x].age %></h3>
            <!--<h3>- at <%= allAnimals[x].createdAt.toDateString() %></h3>-->
            <br>
        <% } %>
    </body>
</html>