<!DOCTYPE html>
<html>
    <head>
        <title>Specific Animal</title>
        <link rel="stylesheet" type="text/css" href="specificAnimal.css">
    </head>
    <body>
            <h3>Name: <%= animal.name %></h3>
            <h3>Species: <%= animal.animal %></h3>
            <h3>Age: <%= animal.age %></h3>
            <br>
    </body>
</html>