<!DOCTYPE html>
<html>
    <head>
        <title>New York Giants | Defense Roster</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'giantsRosterApp/css/defense.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="head">
                <div id="giantsLogo">
                    <img src="{% static 'giantsRosterApp/img/giantsLogo.gif' %}">
                </div>
                <div id="giantsLogo2">
                    <img src="{% static 'giantsRosterApp/img/giantsElectricityPlayer.jpg' %}">
                </div>
                <div id="giantsLogo3">
                    <img src="{% static 'giantsRosterApp/img/nyLogo.jpg' %}">
                </div>
                <form action="/home">
                    {% csrf_token %}
                    <button type="submit" id="homeButton">Home</button>
                </form>
                <form action="/logout">
                    {% csrf_token %}
                    <button type="submit" id="logoutButton">Logout</button>
                </form>
            </div>
            <div id="main">
                <p id="ldep">Left DE's</p>
                <p id="ldtp">Left DT's</p>
                <p id="np">Noses</p>
                <p id="rdtp">Right DT's</p>
                <p id="rdep">Right DE's</p>
                <div id="top5">
                    <div id="leftDEnd">
                        <ul id="leftDEndList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="leftDT">
                        <ul id="leftDTList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="nose">
                        <ul id="noseList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="rightDT">
                        <ul id="rightDTList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="rightDEnd">
                        <ul id="rightDEndList">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <p id="sp">Safetys</p>
                <p id="mlbp">MLB's</p>
                <p id="lbp">LB's</p>
                <p id="cp">Corners</p>
                <div id="bottom4">
                    <div id="safety">
                        <ul id="safetyList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="mlb">
                        <ul id="mlbList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="lineBacker">
                        <ul id="lineBackerList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="corner">
                        <ul id="cornerList">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="update">
                <form action="/defense" method="POST">
                    {% csrf_token %}
                    <select>
                        <option name="position">Position</option>
                        <option value="leftDe">Left DE</option>
                        <option value="leftDt">Left DT</option>
                        <option value="nose">Nose</option>
                        <option value="rightDt">Right DT</option>
                        <option value="rightDe">Right DE</option>
                        <option value="safety">Safety</option>
                        <option value="mlb">MLB</option>
                        <option value="lb">LB</option>
                        <option value="corner">Corner</option>
                    </select>
                    <input type="text" name="name" placeholder="Player's Name">
                    <input type="number" name="number" placeholder="Jersey Number">
                    <input type="submit" name="submit" value="Add">
                </form>
            </div>
            <div id="foot">
                <div id="NYG">
                    <p id="nyg">New York Giants</p>
                </div>
                <div id="createdBy">
                    <p id="cb">Created By:</p>
                    <p id="jj">Josiah Jamison</p>
                </div>
            </div>
        </div> <!-- End of wrapper -->
    </body>
</html>