<!DOCTYPE html>
<html>
<head>
    <title>New York Giants | Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'giantsRosterApp/css/home.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="head">
            <div id="giantsLogo">
                <img src="{% static 'giantsRosterApp/img/giantsLogo.gif' %}">
            </div>
            <div id="giantsLogo2">
                <img src="{% static 'giantsRosterApp/img/giantsElectricityPlayer.jpg' %}">
            </div>
            <div id="giantsLogo3">
                <img src="{% static 'giantsRosterApp/img/nyLogo.jpg' %}">
            </div>
            <form action="/logout">
                {% csrf_token %}
                <button type="submit" id="logoutButton">Logout</button>
            </form>
        </div>
        <div id="main">
            <div id="offense">
                <a href="/offense"><p id="pOffense">New York Giants Offense Roster</p></a>
                <img src="{% static 'giantsRosterApp/img/offense.jpg' %}">
            </div>
            <div id="defense">
                <a href="/defense"><p id="pDefense">New York Giants Defense Roster</p></a>
                <img src="{% static 'giantsRosterApp/img/defense.jpg' %}">
            </div>
            <div id="specialTeams">
                <a href="/specialTeams"><p id="pSpecialTeams">New York Giants Special Teams Roster</p></a>
                <img src="{% static 'giantsRosterApp/img/specialTeams.jpg' %}">
            </div>
        </div>
        <div id="foot">
            <div id="NYG">
                <p id="nyg">New York Giants</p>
            </div>
            <div id="createdBy">
                <p id="cb">Created By:</p>
                <p id="jj">Josiah Jamison</p>
            </div>
        </div>
    </div> <!-- End of wrapper -->
</body>
</html>