<!DOCTYPE html>
<html>
<head>
    <title>New York Giants | Login/Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'giantsRosterApp/css/login.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="head">
            <div id="giantsLogo">
                <img src="{% static 'giantsRosterApp/img/giantsLogo.gif' %}">
            </div>
            <div id="giantsLogo2">
                    <img src="{% static 'giantsRosterApp/img/giantsElectricityPlayer.jpg' %}">
            </div>
            <div id="giantsLogo3">
                    <img src="{% static 'giantsRosterApp/img/nyLogo.jpg' %}">
            </div>
        </div>
        <div id="main">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div id="registerWrapper">
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <p id="fname">First Name:</p><input type="text" name="first_name" placeholder="Peter" id="first_name">
                    <p id="lname">Last Name:</p><input type="text" name="last_name" placeholder="Griffin" id="last_name">
                    <p id="em">Email:</p><input type="text" name="email" placeholder="peter@griffin.com" id="rEmail">
                    <p id="pass">Password:</p><input type="password" name="password" placeholder="********" id="rPassword">
                    <p id="cPass">Confirm Password:</p><input type="password" name="confirm_password" placeholder="********" id="confirm_password">
                    <input type="submit" name="submit" value="Register" id="registerButton" class="submit">
                </form>
            </div>
            <div id="loginWrapper">
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <p id="lEm">Email:</p><input type="text" name="email" placeholder="peter@griffin.com" id="lEmail">
                    <p id="lPass">Password:</p><input type="password" name="password" placeholder="********" id="lPassword">
                    <input type="submit" name="submit" value="Login" id="loginButton" class="submit">
                </form>
            </div>
            <h2 id="register">Register</h2>
            <h2 id="login">Login</h2>
        </div>
        <div id="foot">
            <div id="NYG">
                <p id="nyg">New York Giants</p>
            </div>
            <div id="createdBy">
                <p id="cb">Created By:</p>
                <p id="jj">Josiah Jamison</p>
            </div>
        </div>
    </div> <!-- End of wrapper -->
</body>
</html>