<!DOCTYPE html>
<html>
    <head>
        <title>New York Giants | Offense Roster</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'giantsRosterApp/css/offense.css' %}">
    </head>
    <body>
        <div id="wrapper">
                <a href="/home"></a>
            <div id="head">
                <div id="giantsLogo">
                    <img src="{% static 'giantsRosterApp/img/giantsLogo.gif' %}">
                </div>
                <div id="giantsLogo2">
                    <img src="{% static 'giantsRosterApp/img/giantsElectricityPlayer.jpg' %}">
                </div>
                <div id="giantsLogo3">
                    <img src="{% static 'giantsRosterApp/img/nyLogo.jpg' %}">
                </div>
                <form action="/home">
                    {% csrf_token %}
                    <button type="submit" id="homeButton">Home</button>
                </form>
                <form action="/logout">
                    {% csrf_token %}
                    <button type="submit" id="logoutButton">Logout</button>
                </form>
            </div>
            <div id="main">
                <p id="ltp">Left Tackles</p>
                <p id="lgp">Left Guards</p>
                <p id="cp">Centers</p>
                <p id="rgp">Right Guards</p>
                <p id="rtp">Right Tackles</p>
                <div id="top5">
                    <div id="leftTackle">
                        <ul id="leftTackleList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="leftGuard">
                        <ul id="leftGuardList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="center">
                        <ul id="centerList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="rightGuard">
                        <ul id="rightGuardList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="rightTackle">
                        <ul id="rightTackleList">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <p id="wrp">Wide Recievers</p>
                <p id="qbp">Quarter Backs</p>
                <p id="rbp">Running Backs</p>
                <p id="fbp">Full Backs</p>
                <div id="bottom4">
                    <div id="wideReciever">
                        <ul id="wideRecieverList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="quarterBack">
                        <ul id="quarterBackList">
                            {% for qb in position.quarterBack %}
                            <li>{{ qb.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="runningBack">
                        <ul id="runningBackList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="fullBack">
                        <ul id="fullBackList">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div id="update">
                    <form action="/offense" method="POST">
                        {% csrf_token %}
                        <select>
                            <option name="position">Position</option>
                            <option value="leftTackle">Left Tackle</option>
                            <option value="leftGuard">Left Guard</option>
                            <option value="center">Center</option>
                            <option value="rightGuard">Right Guard</option>
                            <option value="rightTackle">Right Tackle</option>
                            <option value="wideReciever">Wide Reciever</option>
                            <option value="quarterBack">Quarter Back</option>
                            <option value="runningBack">Running Back</option>
                            <option value="fullBack">Full Back</option>
                        </select>
                        <input type="text" name="name" placeholder="Player's Name">
                        <input type="number" name="number" placeholder="Jersey Number">
                        <input type="submit" name="submit" value="Add">
                    </form>
                </div>
            </div>
            <div id="foot">
                <div id="NYG">
                    <p id="nyg">New York Giants</p>
                </div>
                <div id="createdBy">
                    <p id="cb">Created By:</p>
                    <p id="jj">Josiah Jamison</p>
                </div>
            </div>
        </div> <!-- End of wrapper -->
    </body>
</html>