<!DOCTYPE html>
<html>
    <head>
        <title>New York Giants | Special Teams Roster</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'giantsRosterApp/css/specialTeams.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="head">
                <div id="giantsLogo">
                    <img src="{% static 'giantsRosterApp/img/giantsLogo.gif' %}">
                </div>
                <div id="giantsLogo2">
                    <img src="{% static 'giantsRosterApp/img/giantsElectricityPlayer.jpg' %}">
                </div>
                <div id="giantsLogo3">
                    <img src="{% static 'giantsRosterApp/img/nyLogo.jpg' %}">
                </div>
                <form action="/home">
                    {% csrf_token %}
                    <button type="submit" id="homeButton">Home</button>
                </form>
                <form action="/logout">
                    {% csrf_token %}
                    <button type="submit" id="logoutButton">Logout</button>
                </form>
            </div>
            <div id="main">
                <p id="pp">Punters</p>
                <p id="prp">Punt Returners</p>
                <p id="kp">Kickers</p>
                <p id="krp">Kick Returners</p>
                <div id="positions">
                    <div id="punter">
                        <ul id="punterList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="puntReturner">
                        <ul id="puntReturnerList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="kicker">
                        <ul id="kickerList">
                            <li></li>
                        </ul>
                    </div>
                    <div id="kickReturner">
                        <ul id="kickReturnerList">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div id="update">
                    <form action="/specialTeams" method="POST">
                        {% csrf_token %}
                        <select>
                            <option name="position">Position</option>
                            <option value="punter">P</option>
                            <option value="puntReturner">PR</option>
                            <option value="kicker">K</option>
                            <option value="kickReturner">KR</option>
                        </select>
                        <input type="text" name="name" placeholder="Player's Name">
                        <input type="number" name="number" placeholder="Jersey Number">
                        <input type="submit" name="submit" value="Add">
                    </form>
                </div>
            </div>
            <div id="foot">
                <div id="NYG">
                    <p id="nyg">New York Giants</p>
                </div>
                <div id="createdBy">
                    <p id="cb">Created By:</p>
                    <p id="jj">Josiah Jamison</p>
                </div>
            </div>
        </div> <!-- End of wrapper -->
    </body>
</html>