<button [routerLink]="['/home']">Movies</button>
<form (submit)="onEdit()">
    <h3>Edit movie:</h3>
    <p>Title: <input type="text" name="null" [(ngModel)]="movie.title"/></p>
    <input  type="submit" value="Update"/>
</form>