<!DOCTYPE html>
<html>
    <head>
        <title>Validation</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/process", method="POST">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            <br>
            Location: <select name="location">
                <option>Los Angeles</option>
                <option>Dallas</option>
                <option>Burbank</option>
                <option>Chicago</option>
            </select>
            <br>
            Favorite Language: <select name="favorite_language">
                <option>HTML</option>
                <option>CSS</option>
                <option>JavaScript</option>
                <option>Python</option>
                <option>Mean</option>
                <option>Ruby</option>
            </select>
            <br>
            Comment (optional): <input type="text" name="comment"></input>
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>