<!DOCTYPE html>
<html>
    <head>
        <title>Random Word Generator</title>
        <style>
            h2 {
                position: relative;
                left: 465px;
                color: red;
            }

            form {
                position: relative;
                left: 472px;
            }

            input {
                display: block;
                position: relative;
                right: 55px;
                width: 400px;
                height: 75px;
            }

            button {
                position: relative;
                top: 30px;
                right: 185px;
            }
        </style>
    </head>
    <body>
        <h2>Random Word (Attempt #{{ request.session.count }})</h2>
        <form action="/">
            {{ request.session.random_string }}
            <button name="generate">Generate</button>
        </form>
    </body>
</html>