<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'time_display_app/css/time_display.css' %}">
    </head>
    <body>
        <h1>The current date & time</h1>
        <h2>{{ time }}</h2>
    </body>
</html>