<style>
    body {
        background-color: #000;
        color: red;
    }

    a {
        color: blue;
        text-decoration: none;
    }

    #home {
        position: relative;
        right: 100px;
        bottom: 20px;
        float: right;
    }
</style>

<a href="/posts" id="home">LS Feed</a>
<h1>Editing Post</h1>
<form action='/posts/<%= @post.id %>/edit' method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <span>Content:</span> <input type="text" name="post[content]" value="<%= @post.content %>">
    <input type='submit' value='Update'/>
</form>