<style>
    body {
        background-color: springgreen;
        color: red;
    }

    table {
        border: 1px solid red;
    }

    th, td {
        border: 1px solid lime;
        text-align: center;
    }

    a {
        color: blue;
        text-decoration: none;
    }

    div {
        display: inline-block;
        width: 400px;
        height: 100px;
        margin-left: 90px;
        border: 3px solid red;
        border-radius: 5px;
        text-align: center;
    }

    .likeUnlikeButtons {
        position: relative;
        left: 130px;
        bottom: 40px;
    }

    p {
        position: relative;
        left: 400px;
        bottom: 78.5px;
    }

    p a {
        color: blue;
    }

    #createForm {
        position: relative;
        left: 100px;
    }
    #postInput {
        width: 300px;
    }

    input[type="submit"], #postInput {
        color: red;
        background-color: #00ffd9;
    }

    #profile {
        position: relative;
        right: 90px;
        bottom: 19px;
        float: right;
    }

    span {
        position: relative;
        right: 150px;
        top: 5px;
    }

    #content {
        position: relative;
        left: 0;
        top: 20px;
    }

    #deleteButton {
        position: relative;
        right: 55px;
        bottom: 17px;
        color: red;
        font-weight: bold;
    }
</style>
<a href="/users/<%= @user.id %>" id="profile">Your Profile</a>
<h2>What's Good, <%= @user.alias %>?!</h2>

<form action="/createpost" method="POST" id="createForm">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="post[content]" placeholder="What's goin' on?" id="postInput">
    <input type="submit" value="Bet!">
</form>
<br>
<br>
<% @posts.each do |post| %>
    <div>
        <span><a href="/users/<%= post.user_id %>"><b><%= post.user.alias %></b></a></span>
        <br>
        <span id="content"><%= post.content %></span>
    </div>
    <% if post.user_id == current_user.id %>
    <a href="/posts/<%= post.id %>" data-method="delete" id="deleteButton">Delete</a>
    <% end %>
    <% if not post.usersWhoLiked.include?(current_user) %>
        <form action="/like/<%= post.id %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
            <input type="submit" value="Like" class="likeUnlikeButtons">
        </form>
    <% else %>
    <form action="/unlike/<%= post.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Unlike" class="likeUnlikeButtons">
    </form>
    <% end %>
    <p><a href="/posts/<%= post.id %>"><%= Like.where(post: post).count %> Like(s)</a></p>
    <br>
<% end %>