<style>
    body {
        background-color: #000;
        color: red;
    }

    table {
        width: 420px;
        height: 200px;
        border: 1px solid red;
        text-align: center;
    }

    th, td {
        border: 1px solid lime;
    }

    a {
        color: blue;
        text-decoration: none;
    }

    #home {
        position: relative;
        right: 100px;
        bottom: 20px;
        float: right;
    }

    #edit {
        position: relative;
        right: 85px;
        bottom: 20px;
        float: right;
    }

    #post {
        display: inline-block;
        width: 400px;
        height: 100px;
        margin-left: 420px;
        border: 3px solid red;
        border-radius: 5px;
        text-align: center;
    }

    span {
        position: relative;
        right: 70px;
        top: 5px;
    }

    #content {
        position: relative;
        top: 38px;
        right: 29px;
    }

    #usersWhoLike {
        position: relative;
        left: 420px;
    }

    h3 {
    position: relative;
    left: 100px;
    }
</style>

<% if @post.user_id == current_user.id %>
    <a href="/posts/<%= @post.id %>/edit" id="edit">Edit Post</a>
<% end %>
<a href="/posts" id="home">LS Feed</a>

<div id="post">
    <span><a href="/users/<%= @post.user_id %>"><b><%= @post.user.alias %></b></a></span>
    <span id="content"><%= @post.content %></span>
</div>
<br>
<br>
<div id="usersWhoLike">
    <h3>People who liked this post</h3>
    <table>
        <tr>
            <th>Alias</th>
            <th>Name</th>
        </tr>
        <% @users.each do |user| %>
            <% if Like.find_by_post_id_and_user_id(@post.id, user.id) %>
            <tr>
                <td><a href="/users/<%= user.id %>"><%= user.alias %></a></td>
                <td><%= user.firstName %> <%= user.lastName %></td>
            </tr>
            <% end %>
        <% end %>
    </table>
</div>