<!DOCTYPE html>
<html>
    <head>
        <title>Playground</title>
        <style>
            div {
                display: inline-block;
                width: 200px;
                height: 200px;
                background-color: {{color}};
                position: relative;
                top: 115px;
                left: 120px;
                margin: 30px;
            }
        </style>
    </head>
    <body>
        {% for x in range(0,times): %}
        <div></div>
        {% endfor %}
        
    </body>
</html>