<!DOCTYPE html>
<html>
    <head>
        <title>{{ group.name }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'finalPythonAttemptApp/css/group.css' %}">
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
            <a href="/groups">Groups</a>
        <form action="/logout">
            {% csrf_token %}
            <button type="submit" id="logoutButton">Logout</button>
        </form>
        <h1>{{ group.name }}</h1>
        {% if user not in group.members.all %}
        <form action="/joinGroup/{{group.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Join">
        </form>
        {% endif %}
        {% if user in group.members.all %}
        <form action="/leaveGroup/{{group.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Leave">
        </form>
        {% endif %}
        <h2>{{ group.description }}</h2>
        <h3>Created By: {{ group.createdBy.first_name }} {{ group.createdBy.last_name }}</h3>
        Members: <ul>   
                        {% for member in group.members.all %}
                    <li>{{ member.first_name }} {{ member.last_name }}</li>
                        {% endfor %}
                </ul>
    </body>
</html>