<!DOCTYPE html>
<html>
    <head>
        <title>Groups</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'finalPythonAttemptApp/css/groups.css' %}">
    </head>
    <body>
        <h1>Hi {{ user.first_name }} {{ user.last_name }}!</h1>
        <h2>Here are the organizations you may join:</h2>
        <form action="/logout">
            {% csrf_token %}
            <button type="submit" id="logoutButton">Logout</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="addGroup">
            <h2>Create a new organization:</h2>
            <form action="/addGroup" method="POST">
                {% csrf_token %}
                Org Name: <input type="text" name="name" id="name">
                <br>
                Description: <input type="text" name="descrip" id="descrip">
                <br>
                <button type="submit" id="create">Create</button>
            </form>
        </div>
        <ul id="groupList">
            {% for group in groups %}
            <a href="/usersGroup/{{ group.id }}"><li>{{ group.name }}</li></a>
            {{ group.description }}
            {% if user == group.createdBy %}
        <form action="/delete/{{group.id}}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <br>
        {% endif %}
        {% endfor %}
        </ul>
    </body>
</html>