<!DOCTYPE html>
<html>
    <head>
        <title>Login/Register</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'finalPythonAttemptApp/css/index.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <h1 id="header">Welcome!</h1>
            <h4 id="registerHeader">Register</h4>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div id="registerContainer">
                <form action="/register" method="POST" id="register">
                    {% csrf_token %}
                    First Name:<input type="text" name="first_name">
                    Last Name:<input type="text" name="last_name">
                    Email Address:<input type="email" name="email">
                    Password:<input type="password" name="password">            
                    Confirm Password:<input type="password" name="confirm_password">
                    <button type="submit" name="submit" id="registerButton">Register</button>
                </form>
            </div>

            <div id="loginContainer">
            <h4 id="two">Login</h4>
                <form action="/login" method="POST" id="login">
                    {% csrf_token %}
                    Email Address:<input type="email" name="email">
                    Password:<input type="password" name="password">
                    <button type="submit" name="submit" id="loginButton">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>