<div id="wrapper">
    <button [routerLink]="['/home']">Restaurants</button>
    <div id="errors">
        <p>{{typo}}</p>
        <p>{{typo2}}</p>
        <p>{{typo3}}</p>
        </div>
    <div id="createWrapper">
        <h1>Add a review</h1>
        <form (submit)="createReview()">
            <span>Your Name</span> <input type="text" name="name" [(ngModel)]="review.name">
            <br>
            <span>Stars</span> <select name="dropdown" [(ngModel)]="review.stars">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br>
            <span>Your Review</span> <input type="text" name="review" [(ngModel)]="review.reviews">
            <br>
            <input type="submit" value="Submit" class="submit">
        </form>
        <button value="Cancel" id="cancel" [routerLink]="['/home']">Cancel</button>
    </div>
</div>