<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>form</title> 
</head>    
<body>
    <h1> Survey Form</h1>
<form action='/session' method='post'>
    Name: <input type='text' name='name'>
    Dojo Location: <select  name='location'>
        <option value="Dallas"> Dallas</option>
        <option value="Seattle"> Seattle</option>
        <option value="Tulsa"> Tulsa</option>
      </select>
      Favorite Language: <select name="language">
          <option value="C#">C#</option>
        <option value="Java">Java</option>
        <option value="Ruby">Ruby</option>
    
              </select>
     Comment: <input type = "text" name ="text">
     <input type = "submit" value="submit">
</form>