<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset ="utf=8">
        <title> Results</title>
    </head>
    <body>
        <h3> Submitted Info</h3>
        <p> Name: <%= data.name %></p>
        <p>Location: <%= data.location %></p>
        <p>Favorite Language: <%=data.language%></p>
        <p>Comment: <%=data.text%></p>
    </body>
</html>