#postThought {
    position: relative;
    left: 15px;
    width: 500px;
}

#postButton {
    position: relative;
    left: 30px;
    background-color: blue;
    color: #fff;
}

#logoutButton {
    position: relative;
    float: right;
    right: 25px;
    bottom: 110px;
    background-color: blue;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

#userPost {
    position: relative;
    width: 458px;
    height: 100px;
}

#details {
    display: block;
    position: relative;
    left: 60px;
    top: 5px;
    color: blue;
    text-decoration: underline;
}