table {
    border: 1px solid #000;
    width: 650px;
    height: 200px;
    font-size: 1.5em;
}

table th {
    border: 1px solid orange;
}

table td {
    border: 1px solid red;
}

#dash {
    position: relative;
    bottom: 250px;
    right: 105px;
    float: right;
}

#logout {
    position: relative;
    bottom: 250px;
    left: 30px;
    float: right;
}