<div id="wrapper">
    <button [routerLink]="['/home']" id="home">Restaurants</button>
    <div id="errors">
    <p>{{typo}}</p>
    <p>{{typo2}}</p>
    <p>{{typo3}}</p>
    <p>{{typo4}}</p>
    <p>{{typo5}}</p>
    </div>
    <div id="createWrapper">
        <h1>Submit a restaurant and your review</h1>
        <form (submit)="createRestaurant()">
            <span>Restaurant Title</span> <input type="text" name="restaurant" [(ngModel)]="restaurant.title">
            <br>
            <span>Cuisine</span> <input type="text" name="cuisine" [(ngModel)]="restaurant.cuisine">
            <br>
            <span>Your Name</span> <input type="text" name="name" [(ngModel)]="restaurant.name">
            <br>
            <span>Stars</span> <select name="dropdown" [(ngModel)]="restaurant.stars">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br>
            <span>Your Review</span> <input type="text" name="review" [(ngModel)]="restaurant.reviews">
            <br>
            <input type="submit" value="Submit" class="submit">
        </form>
        <button value="Cancel" id="cancel" [routerLink]="['/home']">Cancel</button>
    </div>
</div>