<!DOCTYPE html>
<head>
    <title>Mongoose</title>

</head>
<body>
    <h1>Edit <%= dog.name %></h1>
    <form action="/dog/edit/submit" method ="POST">
        <p>Name:<input type="text" name="name" value="dog.name"></p>
        <p>Breed:<input type="text" name="breed" value="dog.breed"></p>
        <p>Age:<input type="text" name="age" value="dog.age"></p>
        <p>Favorite toy:<input type="text" name="favorite" value="dog.favorite_toy"></p>
        <input type="submit" value="submit">
    </form>
</body>
</html>