<!DOCTYPE html>
<head>
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1>Login And Registration</h1>
    </div>
   
    <h2>Register</h2>
    <div class="container">
       <form action="/register" method ="POST">
            <p>First name:<input type="text" name="fname"></p>
            <p>Last name:<input type="text" name="lname"></p>
            <p>Email:<input type="email" name="email"></p>
            <p>Password:<input type="password" name="password"></p>
            <p>Confirm Password:<input type="password" name="confirm_password"></p>
            <button type="submit" class="btn btn-primary">Register</button>
        </form> 
    </div>

    <h2>Login</h2>
    <div class="container">
        <form action="/login" method ="POST">
            <p>Email:<input type="email" name="email"></p>
            <p>Password:<input type="text" name="password"></p>
            <button type="submit" class="btn btn-primary">Login</button>
        </form> 
    </div>

    <% if(messages.registration) { %>
        <div class="container">
            <% for (var x of messages.registration) { %>
                <h3 class="error"><%= x %></h3>
            <% } %>  
        </div>
        
    <% } %>
    
</body>
</html>