#wrapper {
    width: 100%;
    height: 1106px;
    background-color: blue;
}
    
#head {
    width: 100%;
    height: 110px;
    background-color: red;
}

#giantsLogo, #giantsLogo2, #giantsLogo3 {
    display: inline-block;
}

#giantsLogo {
    width: 255px;
    position: relative;
    bottom: 6px;
}

#giantsLogo2 {
    width: 80.5px;
    position: relative;
    left: 320px;
}

#giantsLogo3 {
    width: 109px;
    position: relative;
    float: right;
}

#giantsLogo img {
    width: 100%;
    height: auto;
}

#giantsLogo2 img {
    width: 100%;
    height: auto;
}

#giantsLogo3 img {
    width: 100%;
    height: auto;
}

#homeButton {
    position: relative;
    bottom: 108.5px;
    left: 1010px;
    background-color: red;
    color: blue;
}

#logoutButton {
    position: relative;
    bottom: 218.5px;
    left: 1075px;
    background-color: red;
    color: blue;
}

#ldep, #ldtp, #np, #rdtp, #rdep {
    display: inline;
    position: relative;
    margin-left: 110px;
    top: 30px;
    font-size: 1.5em;
    color: red;
}

#ldep {
    right: 16px;
}

#ldtp {
    left: 3px;
}

#np {
    left: 40px;
}

#rdtp {
    left: 72px;
}

#rdep {
    left: 80px;
}

#top5 {
    width: 100%;
    height: 375px;
    border-bottom: 3px solid #000;
}

#leftDEnd, #leftDT, #nose, #rightDT, #rightDEnd, #safety, #mlb, #lineBacker, #corner {
    border: 3px solid red;
}

#leftDEnd, #leftDT, #nose, #rightDT, #rightDEnd {
    display: inline-block;
    width: 165px;
    height: 300px;
    margin-left: 53px;
    margin-top: 35px;
    vertical-align: top;
}

#sp, #mlbp, #lbp, #cp {
    display: inline;
    position: relative;
    margin-left: 200px;
    top: 30px;
    font-size: 1.5em;
    color: red;
}

#sp {
    right: 70px;
}

#mlbp {
    right: 35px;
}

#lbp {
    left: 5px;
}

#cp {
    left: 40px;
}

#bottom4 {
    width: 100%;
    height: 375px;
    border-bottom: 3px solid #000;
}

#safety, #mlb, #lineBacker, #corner {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin-left: 41px;
    margin-top: 35px;
    vertical-align: top;
}

#cornerList {
    border: 0;
}

#update {
    width: 100%;
    height: 130px;
}

form {
    height: 100%;
    width: 100%;
}

input, select {
    margin-right: 0px;
    width: 187px;
}

input {
    position: relative;
    top: 50px;
}

select {
    position: relative;
    top: 50px;
    margin-left: 225px;
}

#foot {
    width: 100%;
    height: 110px;
    background-color: red;
    position: relative;
}

#NYG {
    height: 100%;
    width: 110px;
    display: inline-block;
}

#nyg, #cb, #jj {
    font-style: italic;
}

#nyg {
    margin-top: 30px;
    color: blue;
    text-align: center;
    font-size: 1.5em;
}

#createdBy {
    display: inline-block;
    height: 100%;
    width: 110px;
    text-align: center;
    float: right;
}

#cb {
    margin-top: 30px;
    color: green;
}

#jj {
    color: green;
}