#wrapper {
    width: 100%;
    height: 718px;
    background-color: blue;
}
    
#head {
    width: 100%;
    height: 110px;
    background-color: red;
}

#giantsLogo, #giantsLogo2, #giantsLogo3 {
    display: inline-block;
}

#giantsLogo {
    width: 255px;
    position: relative;
    bottom: 15px;
}

#giantsLogo2 {
    width: 80.5px;
    position: relative;
    left: 320px;
    bottom: 10px;
}

#giantsLogo3 {
    width: 109px;
    position: relative;
    bottom: 9.5px;
    float: right;
}

#giantsLogo img {
    width: 100%;
    height: auto;
}

#giantsLogo2 img {
    width: 100%;
    height: auto;
}

#giantsLogo3 img {
    width: 100%;
    height: auto;
}

#logoutButton {
    position: relative;
    bottom: 120px;
    left: 1075px;
    background-color: red;
    color: blue;
}

#offense, #defense, #specialTeams {
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-left: 74px;
    border: 1px solid green;
}

#offense {
    position: relative;
    bottom: 17px;
}

#defense {
    position: relative;
    top: 2.2px;
}

#specialTeams {
    position: relative;
    top: 14px;
}

p {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: red;
}

#foot {
    width: 100%;
    height: 110px;
    background-color: red;
    position: relative;
    top: 115px;
}

#NYG {
    height: 100%;
    width: 110px;
    display: inline-block;
}

#nyg, #cb, #jj {
    font-style: italic;
}

#nyg {
    margin-top: 30px;
    color: blue;
    text-align: center;
    font-size: 1.5em;
}

#createdBy {
    display: inline-block;
    height: 100%;
    width: 110px;
    text-align: center;
    float: right;
}

#cb {
    margin-top: 30px;
    color: green;
}

#jj {
    color: green;
}