#wrapper {
width: 100%;
height: 840px;
background-color: blue;
}

#head {
    width: 100%;
    height: 110px;
    background-color: red;
}

#giantsLogo, #giantsLogo2, #giantsLogo3 {
    display: inline-block;
}

#giantsLogo {
    width: 255px;
    position: relative;
    bottom: 5px;
}

#giantsLogo2 {
    width: 80.5px;
    position: relative;
    left: 320px;
}

#giantsLogo3 {
    width: 109px;
    float: right;
}

#giantsLogo img {
    width: 100%;
    height: auto;
    margin-top: 8px;
}

#giantsLogo2 img {
    width: 100%;
    height: auto;
}

#giantsLogo3 img {
    width: 100%;
    height: auto;
}

#register {
    position: relative;
    bottom: 648px;
    left: 250px;
}

#login {
    position: relative;
    bottom: 696px;
    left: 920px;
}

#registerWrapper, #loginWrapper {
    display: inline-block;
    width: 450px;
    height: 400px;
    border: 5px solid limegreen;
}

#registerWrapper {
    position: relative;
    left: 75px;
    top: 24px;
}

#loginWrapper {
    position: relative;
    left: 264px;
    bottom: 190px;
}

input {
    display: block;
    width: 40%;
    height: 80%;
    margin: 0 0 0 130px;
}

p, #register, #login {
    color: red;
}

#fname {
    position: relative;
    top: 34px;
    left: 50px;
}

#lname {
    position: relative;
    top: 34px;
    left: 50px;
}

#em {
    position: relative;
    top: 34px;
    left: 83px;
}

#pass {
    position: relative;
    top: 34px;
    left: 61px;
}

#cPass {
    position: relative;
    top: 34px;
    left: 4px;
}

#lEm {
    position: relative;
    top: 35px;
    left: 85px;
}

#lPass {
    position: relative;
    top: 35px;
    left: 60px;
}

.submit {
    margin-top: 10px;
}

#foot {
    width: 100%;
    height: 110px;
    background-color: red;
}

#NYG {
    height: 100%;
    width: 110px;
    display: inline-block;
}

#nyg, #cb, #jj {
    font-style: italic;
}

#nyg {
    margin-top: 30px;
    color: blue;
    text-align: center;
    font-size: 1.5em;
}

#createdBy {
    display: inline-block;
    height: 100%;
    width: 110px;
    text-align: center;
    float: right;
}

#cb {
    margin-top: 30px;
    color: green;
}

#jj {
    color: green;
}