#wrapper {
    width: 100%;
    height: 1106px;
    background-color: blue;
}
    
#head {
    width: 100%;
    height: 110px;
    background-color: red;
}

#giantsLogo, #giantsLogo2, #giantsLogo3 {
    display: inline-block;
}

#giantsLogo {
    width: 255px;
    position: relative;
    bottom: 6px;
}

#giantsLogo2 {
    width: 80.5px;
    position: relative;
    left: 320px;
}

#giantsLogo3 {
    width: 109px;
    position: relative;
    float: right;
}

#giantsLogo img {
    width: 100%;
    height: auto;
}

#giantsLogo2 img {
    width: 100%;
    height: auto;
}

#giantsLogo3 img {
    width: 100%;
    height: auto;
}

#homeButton {
    position: relative;
    bottom: 108.5px;
    left: 1010px;
    background-color: red;
    color: blue;
}

#logoutButton {
    position: relative;
    bottom: 218.5px;
    left: 1075px;
    background-color: red;
    color: blue;
}

#ltp, #lgp, #cp, #rgp, #rtp {
    display: inline;
    position: relative;
    margin-left: 110px;
    top: 30px;
    font-size: 1.5em;
    color: red;
}

#cp, #rtp {
    right: 19px;
}


#ltp {
    right: 32px;
}

#lgp {
    right: 36px;
}

#rgp {
    right: 5px;
}

#top5 {
    width: 100%;
    height: 375px;
    border-bottom: 3px solid #000;
}

#leftTackle, #leftGuard, #center, #rightGuard, #rightTackle, #wideReciever, #quarterBack, #runningBack, #fullBack {
    border: 3px solid red;
}

#leftTackle, #leftGuard, #center, #rightGuard, #rightTackle {
    display: inline-block;
    width: 165px;
    height: 300px;
    margin-left: 53px;
    margin-top: 35px;
    vertical-align: top;
}

#wrp, #qbp, #rbp, #fbp {
    display: inline;
    position: relative;
    margin-left: 135px;
    top: 30px;
    font-size: 1.5em;
    color: red;
}

#wrp {
    right: 40px;
}

#qbp {
    right: 20px;
}

#rbp {
    right: 5px;
}

#fbp {
    left: 30px;
}

#bottom4 {
    width: 100%;
    height: 375px;
    border-bottom: 3px solid #000;
}

#wideReciever, #quarterBack, #runningBack, #fullBack {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin-left: 41px;
    margin-top: 35px;
    vertical-align: top;
}

#fullBackList {
    border: 0;
}

#update {
    width: 100%;
    height: 130px;
}

form {
    height: 100%;
    width: 100%;
}

input, select {
    margin-right: 0px;
    width: 187px;
}

input {
    position: relative;
    top: 50px;
}

select {
    position: relative;
    top: 50px;
    margin-left: 225px;
}

#foot {
    width: 100%;
    height: 110px;
    background-color: red;
    position: relative;
}

#NYG {
    height: 100%;
    width: 110px;
    display: inline-block;
}

#nyg, #cb, #jj {
    font-style: italic;
}

#nyg {
    margin-top: 30px;
    color: blue;
    text-align: center;
    font-size: 1.5em;
}

#createdBy {
    display: inline-block;
    height: 100%;
    width: 110px;
    text-align: center;
    float: right;
}

#cb {
    margin-top: 30px;
    color: green;
}

#jj {
    color: green;
}

a {
    color: green;
    font-size: 3em;
}