h1 {
    color: red;
}

#quote {
    position: relative;
    left: 45px;
    margin-bottom: 15px;
}

#descrip {
    height: 60px;
}

button {
    position: relative;
    top: 15px;
    left: 74.5px;
}

#allQuotes {
    position: relative;
    right: 500px;
    bottom: 191.5px;
    float: right;
}

p {
    font-style: italic;
}

#quoteList {
    position: relative;
    right: 345px;
    bottom: 150px;
    float: right;
}

#logoutButton {
    
    color: #fff;
    background-color: limegreen;
}

body {
    background-color: cyan;
}   