<!DOCTYPE html>
<html>
<head>
    <title>Ninja Gold</title>
    <style type="text/css">
        form, div, p {
            display: inline-block;
        }

        input {
            position: relative;
            top: 35px;
            right: 133px;
        }

        div {
            border: 3px solid #000;
            padding: 40px;
        }
    </style>
</head>
<body>
    <h1>Your Gold: {{ request.session.num_gold }}</h1>
    <div>
        <h3>Farm</h3>
        <p>(earns 10-20 gold)</div></p>
        <form action="/processMoney" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location" value="farm">
        <input type="submit" name="Find Gold!">
        </form>
    </div>
    <div>
        <h3>Cave</h3>
        <p>(earns 5-10 gold)</div></p>
        <form action="/processMoney" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location" value="cave">
        <input type="submit" name="Find Gold!">
        </form>
    </div>
    <div>
        <h3>House</h3>
        <p>(earns 2-5 gold)</div><p>
        <form action="/processMoney" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location" value="house">
        <input type="submit" name="Find Gold!">
        </form>
    </div>
    <div>
        <h3>Casino</h3>
        <p>(earns 0-50 gold)</div></p>
        <form action="/processMoney" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location" value="casino">
        <input type="submit" name="Find Gold!">
        </form>
    </div>
</body>
</html>