<!doctype html>

<html lang="en">
<head>
<title>index</title>
<style>
form{
    width: 160px;
}
</style>
</head>

<body>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    
    
    
    
    <h1>REGISTER HERE</h1>
    <div id="square">
        <form action='/register' method='post'>
            First Name: <input type='text' name='fname'>
            Last Name: <input type='text' name='lname'>
            Email: <input type='text' name='ename'>
            Password: <input type='password' name='pname'>
            Password Confirmation: <input type='password' name='pcname'>
            <button>register</button>
        </form>

<h1>Log In</h1>
<form action="/login" method="POST" id="login">
    Email Address:
    <input type="email" name="ename">
    Password:
    <input type="password" name="password">
    <button>Log In</button>
</form>

</body>
</html>