<!doctype html>

<html lang="en">
<head>
<title>index</title>
{% load static %}
<link rel="stylesheet" href="{% static 'favorite_books_app/css/index.css' %}"> 
<style>
form{
    width: 160px;
}
</style>
</head>

<body>
    {% if messages %}
  
    <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
     </ul>
    {% endif %}


<h1>REGISTER HERE</h1>
<form action='/register' method='post'>
    {% csrf_token %}
First Name: <input type='text' name='fname'>
Last Name: <input type='text' name='lname'>
Email: <input type='text' name='email'>
Password: <input type='password' name='password'>
Password Confirmation: <input type='password' name='pcname'>
    <button>Register</button>
    </form>

<h1>Log In</h1>
<form action="/login" method="POST" id="login">
    {% csrf_token %}
    Email Address:
    <input type="email" name="email">
    Password:
    <input type="password" name="password">
    <button>Log In</button>
</form>

</body>
</html>