<!doctype html>

<html lang="en">
<head>
<title>main_page</title>
<style>
form{
    width: 160px;
}
h1{
    width: 95%;
    border-bottom: solid 1px rgb(209, 202, 202);
}
</style>
</head>

<body>

    {% if messages %}
  
    <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
     </ul>
    {% endif %}

<h1>Welcome, {{ user.first_name }}!</h1>
<h2>Add a Favorite Book</h2>
    <form action="/add_book" method="POST">
    {% csrf_token %}
    Title:
    <input type="text" name="title">
    Description:
    <input type="text" name="description">
    <button>ADD</button>
</form>
<h2>All Books</h2>
{% for book in books %}
<a href="/books/{{ book.id }}">{{ book.title }}</a>
<h4>(Added By: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</h4>
{% if user not in book.users_who_like.all %}
<form action="/add_favorites/{{book.id}}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Favorite">
</form>
{% endif %}
{% if user in book.users_who_like.all %}
<p>this is one of your favorites</p>
{% endif %}
{% endfor %}







</body>
</html>