<!doctype html>

<html lang="en">
<head>
<title>main_page</title>
<style>
form{
    width: 160px;
}
h1{
    width: 95%;
    border-bottom: solid 1px rgb(209, 202, 202);
}
</style>
</head>

<body>
<a href="/books">Main Page</a>
<a href="/out">Log Out</a>

<h1>Welcome, {{ user.first_name }}!</h1>


{% if user == book.uploaded_by %}
<form action="/update/{{book.id}}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" value="{{book.title}}">
    <h3>Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }}</h3>
    <h3>Added On: {{ book.created_at }}</h3>
    <h3>Updated On: {{ book.updated_at }}</h3>
    <input type="text" name="description" value="{{book.description}}">
    <input type="submit" value="Update">
    <a href="/delete/{{ book.id }}">Delete</a>
    </form>

{% else %}
<h2>{{ book.title }}</h2>
<h3>Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }}</h3>
<h3>Added On: {{ book.created_at }}</h3>
<h3>Updated On: {{ book.updated_at }}</h3>
<h3>Description: {{ book.description }}</h3>
{% if user not in book.users_who_like.all %}
<form action="/add_favorites/{{book.id}}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Favorite">
</form>
{% endif %}

{% endif %}
<h3>Users Who Like This Book:</h3>
<table>
    <tr>
        <th><th>
    </tr>
    {% for person in book.users_who_like.all %}
    <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
{% if request.session.id == person.id %}
        <form action="/unfav/{{book.id}}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Un Favorite">
        </form>
    </tr>
    {% endif %}
    {% endfor %}
</table>




</body>
</html>