div {
    width: 700px;
    height: 400px;
    margin-left: 250px;
    border: 3px solid blue;
    border-radius: 25px;
}

h1 {
    color: red;
    text-align: center;
}

p {
    position: relative;
    left: 175px;
}

input {
    display: block;
    position: relative;
    bottom: 35px;
    margin-left: 260px;
}

input[type = "submit"] {
    color: orange;
    background-color: red;
    left: 25px;
}

button, input[type = "submit"] {
    position: relative;
}

button {
    color: red;
    background-color: orange;
    left: 284px;
    bottom: 30px;
}