div {
    width: 700px;
    height: 400px;
    margin-left: 250px;
    border: 3px solid blue;
    border-radius: 25px;
}

h1 {
    color: red;
    text-align: center;
}

button {
    color: orange;
    background-color: red;
}

h3 {
    color: limegreen;
    text-align: center;
}

span {
    color: orange;
}