<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'djangoTestApp/css/dashboard.css' %}">
    </head>
    <body>
        <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
        <form action="/create" id="postThoughtForm">
            {% csrf_token %}
            <input type="text" name="postThought" placeholder="Post a Great Thought Here!" id="postThought">
            <button type="submit" name="addThought" id="postButton">Add Thought!</button>
            <hr>
            {% for post in posts %}
            {{ post.creator.name }} says:
            <p>{{post.post}}</p>
        {% if user.id == post.creator.id %}
				<form action="/delete/{{post.id}}" method="POST">
					{% csrf_token %}
					<input type="submit" value="Delete Post">
				</form>
        {% endif %}
        {% if user not in post.users_who_like.all %}
				<form action="/like/{{post.id}}" method="POST">
					{% csrf_token %}
					<input type="submit" value="Like Post">
				</form>
				{% endif %}
		{% endfor %}
        <button id="logoutButton"><a href="/destroy">Logout!</a></button>
    </body>
</html>