<!DOCTYPE html>
<html>
    <head>
        <title>View</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'djangoTestApp/css/view.css' %}">
    </head>
    <body>
        <p>{{ post.creator.name }}</p> says: <p>{{post.post}}</p>
        <p>People who liked this thought:</p>
        <table>
            <tr>
                <th>First Name</th>
                <th>First Name</th>
            </tr>
            <tr>
                <td>{{ post.users_who_like}}</td>
            </tr>
        </table>
        <a href="/thoughts" id="dash">Dashboard</a>
        <a href="/destroy" id="logout">logout</a>
    </body>
</html>