.show {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.show {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
}

#btn {
    margin-right: 5px;
}

button {
    background-color: red;
    color: orange;
}

#wrapper {
    width: 100%;
    height: 1000px;
    background-color: #000;
    color: red;
}