<div id="wrapper">
    <button [routerLink]="['/home']" id="btn">Movies</button>
    <button id="delete" (click)="onDelete()">Delete Movie</button>
    <h1>Reviews</h1>
    <div id="moviesWrapper">
        <div *ngFor="let review of movies?.review" class="show"> 
            <div>
                <p>{{review.name}}</p>
                <p>{{review.stars}}</p>
                <p>{{review.reviews}}</p>
            </div>
        </div>
    </div>
</div>