#registerContainer {
    display: inline-block;
    position: relative;
    bottom: 15px;
    width: 435px;
    height: 250px;
    border: 2px solid #000;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

#register input {
    display: block;
    position: relative;
    left: 130px;
    bottom: 18px;
    width: 50%;
}

#registerButton {
    position: relative;
    left: 286px;
}

#registerHeader {
    position: relative;
    left: 25px;
}

#loginContainer {
    display: inline-block;
    position: relative;
    left: 100px;
    bottom: 83px;
    width: 550px;
    height: 263px;
    padding-left: 15px;
    border: 2px solid #000;
}

#login input {
    display: block;
    position: relative;
    left: 115px;
    bottom: 18px;
}

#two {
    position: relative;
    bottom: 45px;
}

#loginButton {
    position: relative;
    left: 233px;
}