<!DOCTYPE html>
<html>
    <head>
        <title>Add an author</title>
        <style>
            h1 {
                position: relative;
                color: red;
            }

            table {
                border: 1px solid #000;
            }

            table td {
                border: 1px solid red;
            }

            table th {
                border: 1px solid orange;
            }

            input {
                margin-left: 5px;
            }

            #fname {
                position: relative;
                right: 2px;
            }

            #lname {
                margin-bottom: 50px;
            }

            button {
                position: relative;
                left: 79px;
                bottom: 40px;
            }

            #orange {
                border: 1px solid orange;
            }
        </style>
    </head>
    <body>
        <h1>Add an Author</h1>
        <form action="/addauthor" method="POST">
            {% csrf_token %}
            First Name<input type="text" name="fname" id="fname">
            <br>
            Last Name<input type="text" name="lname" id="lname">
            <br>
            <button type="submit">Add</button>
        </form>
        
        <table>
            <tr>
                <th>Authors</th>
                {% for author in authors %}
                <td>{{ author.first_name }} {{ author.last_name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td id="orange">
                    <b>Specific Author</b>
                </td>
                <td>
                    <a href="/1">View</a>
                </td>
                <td>
                    <a href="/2">View</a>
                </td>
                <td>
                    <a href="/3">View</a>
                </td>
                <td>
                    <a href="/4">View</a>
                </td>
                <td>
                    <a href="/5">View</a>
                </td>
                <td>
                    <a href="/6">View</a>
                </td>
                <td>
                    <a href="/7">View</a>
                </td>
            </tr>
        </table>
    </body>
</html>