<!DOCTYPE html>
<html>
    <head>
        <title>Specific Author</title>
        <style>
            select {
                width: 100px;
            }
        </style>
    </head>
    <body>
        <h1>{{ firstName }} {{ lastName }}</h1>
        ID: {{ authorId }}
        <br>
        Books:
        <ul>
            <li>{{ books }}</li>
        </ul>
        <form action="{{id}}/addbook">
        <select> {% for book in books %}
            <option>{{ title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
    </body>
</html>