<!DOCTYPE html>
<html>
    <head>
        <title>Add a book</title>
        <style>
            h1 {
                position: relative;
                color: red;
            }

            table {
                border: 1px solid #000;
            }

            table td {
                border: 1px solid red;
            }

            table th {
                border: 1px solid orange;
            }

            input {
                margin-left: 5px;
            }

            #title {
                position: relative;
                left: 45px;
            }

            #descrip {
                margin-bottom: 50px;
            }

            button {
                position: relative;
                left: 79px;
                bottom: 40px;
            }

            #orange {
                border: 1px solid orange;
            }
        </style>
    </head>
    <body>
        <h1>Add a book</h1>
        <form action="/addbook" method="POST">
            {% csrf_token %}
            Title<input type="text" name="title" id="title">
            <br>
            Description<input type="text" name="descrip" id="descrip">
            <br>
            <button type="submit">Add</button>
        </form>
        
        <table>
            <tr>
                <th>Books</th>
                {% for book in books %}
                <td>{{ book.title }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td id="orange">
                    <b>Specific Book</b>
                </td>
                <td>
                    <a href="book/1">View</a>
                </td>
                <td>
                    <a href="book/2">View</a>
                </td>
                <td>
                    <a href="book/3">View</a>
                </td>
                <td>
                    <a href="book/4">View</a>
                </td>
                <td>
                    <a href="book/5">View</a>
                </td>
            </tr>
        </table>
    </body>
</html>