<!DOCTYPE html>
<html>
    <head>
        <title>Specific Book</title>
        <style>
            select {
                width: 100px;
            }
        </style>
    </head>
    <body>
        <h1>{{ title }}</h1>
        ID: {{ bookId }}
        <br>
        Descripton:
        <p>{{ descrip }}</p>
        <br>
        Authors:
        <ul>
            <li>{{ associatedAuthors }}</li>
        </ul>
        <form action="/book/{{id}}/addauthor" method="POST">
        {% csrf_token %}
        <select name="dropdown">
            {% for author in authors %}
            <option value="{{author.id}}">{{author.first_name }} {{author.last_name }}</option>
            {% endfor %}
        </select>
            <button type="submit">Add</button>
        </form>
    </body>
</html>