<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
  <title><%= duck.name %></title>
</head>
<body>
  <h1><%= duck.name %> 's Dashboard</h1>
    <div class="jumbotron">
      <hr class="my-4">
      <h4><%= duck.name %> is <%= duck.age %></h4>
      <h4><%= duck.name %> is <%= duck.color %></h4>
      <h4><%= duck.name %>'s favorite food is <%= duck.favorite_food %></h4>
    </div>
</body>
</html> 