<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
    <title>Duck Dashboard</title>
  </head>
  <body>
    <h1>Edit <%= duck.name %> 's Profile</h1>
    <% if(messages.error) { %>
        <% for (var x of messages.error) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <form action='/duck/<%= duck._id %>' method='post'>
      <p><label>Name:</label> <input type='text' value="<%= duck.name %>" name='name'></p>
      <p><label>Age:</label><input type='text' value="<%= duck.age %>" name='age'></p>
      <p><label>Favorite Food:</label><input type='text' value="<%= duck.favorite_food %>" name='food'></p>
      <p><label>Color:</label><input type='text' value="<%= duck.color %>" name='color'></p>
      <input class="btn btn-info" type="submit" value="Update Duck">
    </form>
    <a href="/"><button class="btn btn-info">Go to All Ducks</button></a>
  </body>
</html>