<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
    <title>Duck Dashboard</title>
  </head>
  <body>
    <h2>All Ducks</h2>
    <br>
    <a href="/duck/new"><button class="btn btn-info">Add a New Duck</button></a>
    <hr>
    <br>
    <% for (var x in all_ducks.reverse()) { %>
      <h3><a href="/duck/<%= all_ducks[x].id %>"><%= all_ducks[x].name %></a></h3>
      <h4><%= all_ducks[x].age %> </h4>
      <h4><%= all_ducks[x].favorite_food %> </h4>
      <h4><%= all_ducks[x].color %> </h4>
      <br>
      <a href="/duck/edit/<%= all_ducks[x].id %>">
        <button class="btn btn-info">Edit Duck</button>
      </a>
      <form action='/duck/destroy/<%= all_ducks[x].id %>' method='post'>
        <button class="btn btn-info">Delete Duck</button>
      </form>
      <hr>
    <% } %>

  </body>
</html>
