<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
    <title>Duck Dashboard</title>
  </head>
  <body>
    <h1>Add a New Duck</h1>
    <% if(messages.error) { %>
        <% for (var x of messages.error) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <form action='/duck' method='post'>
      <p><label>Name:</label> <input type='text' name='name'></p>
      <p><label>Age:</label><input type='text' name='age'></p>
      <p><label>Favorite Food:</label><input type='text' name='food'></p>
      <p><label>Color:</label><input type='text' name='color'></p>
      <input class="btn btn-info" type="submit" value="Add Duck">
    </form>
    <a href="/"><button class="btn btn-info">Go to All Ducks</button>
  </body>
</html>