<!DOCTYPE html>
<html>
    <head>
        <title>Favorite Books</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'favBooksApp/css/books.css' %}">
    </head>
    <body>
        <h1>Welcome, {{ user.first_name }}!</h1>
        <hr>
        <h2>Add a Favorite Book</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/addBook" method="POST">
            {% csrf_token %}
            Title<input type="text" name="title" id="title">
            <br>
            Description<input type="text" name="descrip" id="descrip">
            <br>
            <button type="submit">Add</button>
        </form>
        <h2 id="allBooks">All Books</h2>
        <ul id="bookList">
            {% for book in books %}
            <li><a href="/books/{{book.id}}">{{ book.title }}</a></li>
            (added by {{ book.uploadedBy.first_name }} {{ book.uploadedBy.last_name }})
            {% if user not in book.usersWhoLike.all %}
                <form action="/addFavs/{{book.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Favorite">
                </form>
            {% endif %}
            {% if user in book.usersWhoLike.all %}
            <p>This is one of your Favorites</p>
            {% endif %}
            {% endfor %}

        </ul>
        <form action="/logout">
            {% csrf_token %}
            <button type="submit" id="logoutButton">Logout</button>
        </form>
    </body>
</html>