<!DOCTYPE html>
<html>
    <head>
        <title>{{book.title}}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'favBooksApp/css/book.css' %}">
    </head>
    <body>
        <h1>Welcome, {{ user.first_name }}!</h1>
        <hr>
        {% if user == book.uploadedBy %}
        <form action="/update/{{ book.id }}" method="POST">
            {% csrf_token %}
            <input type="text" name="title" id="userTitle" value="{{ book.title }}">
            <h3>Added by: {{ book.uploadedBy.first_name }} {{ book.uploadedBy.last_name }}</h3>
            <h3>Added on: {{ book.created_at }}</h3>
            <h3>Last updated on: {{ book.updated_at }}</h3>
            <br>
            Description:<input type="text" name="descrip" value="{{ book.description }}">
            <br>
            <button type="submit">Change</button>
        </form>
        {% else %}
         <h2>{{ book.title }}</h2>
        <h3>Added by: {{ book.uploadedBy.first_name }} {{ book.uploadedBy.last_name }}</h3>
        <h3>Added on: {{ book.created_at }}</h3>
        <h3>Last updated on: {{ book.updated_at }}</h3>
        <h3>Description: {{ book.description }}</h3>
        {% endif %}

        
        <form action="/delete/{{book.id}}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>

        <div>
            <h1>Users Who Like This Book</h1>
            <ul>
                {% for user in book.usersWhoLike.all %}             
                <li>{{ user.first_name }} {{ user.last_name }}</li>
                <form action="/unFav/{{book.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="UnFavorite">
                </form>
                {% endfor %}
            </ul>
        </div>
        {% if user.uploadedBy in session %}
        <form action="/delete/{{book.id}}" method="POST">
            <button type="text" value="Delete">Delete</button>
        </form>
        {% endif %}
        <form action="/logout">
            {% csrf_token %}
            <button type="submit" id="logoutButton">Logout</button>
        </form>
    </body>
</html>