<!DOCTYPE html>
<html>
    <head>
        <title>The Great Number Game</title>
        <style>
            h1, h2 {
                position: relative;
                top: 35px;
                text-align: center;
                color: red;
            }

            input {
                display: block;
                position: relative;
                top: 80px;
                left: 550px;
            }

            button {
                position: relative;
                top: 85px;
                left: 580px;
                background-color: red;
                color: #000;
                height: 25px;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to The Great Number Game!</h1>
        <h2>I am thinking of a number between 1 and 100</h2>
        <h2>Take a Guess!</h2>
        <form action="/result" method="post">
            <input type="number" name="guess">
            <button type="submit" value="button">Test Your Luck</button>
            <p>{{ session['guess'] }}</p>
        </form>
    </body>
</html>