<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <style>
            h1 {
                color: green;
            }

            table {
                width: 500px;
                height: 100px;
                position: relative;
                left: 370px;
                border: 1px solid red;
            }

            table th{
                color: red;
                border: 1px solid orange;
            }

            table td {
                color: orange;
                border: 1px solid hotpink;
            }
        </style>
    </head>
    <body>
        <h1>Success</h1>
        <table>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                </tr>
                {% for one_email in all_emails %}
                <tr>
                    <td>{{one_email["id"]}}</td>
                    <td>{{one_email["email"]}}</td>
                </tr>
                {% endfor %}
            </table>
    </body>
</html>