<!DOCTYPE html>
<html>
    <head>
        <title>Email Validation</title>
        <style>
            h1 {
                position: relative;
                left: 440px;
                color: red;
                font-size: 3em;
            }

            form {
                position: relative;
                left: 440px;
                color: orange;
            }
        </style>
    </head>
    <body>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Email Validation</h1>
        <form action="/request" method="POST">
            Email Address: <input type="email" name="Enter_Email">
            <input type="submit" name="Submit Button">
        </form>
    </body>
</html>