<style>
    body {
        margin: 0;
        background-color: springgreen;
    }

    h1, span {
        color: red;
    }

    #password {
        position: relative;
        bottom: 20px;
        right: 170px;
    }

    h1, form, .field, input[type=submit], #passIn, #fName, #lName, #emIn, #aliasIn, #header, header {
        position: relative;
    }

    header {
    background-color: cyan;
    height: 100px;
    bottom: 23px;
    }

    #header {
        top: 23px;
        margin-left: 40px;
    }

    #loginForm {
        left: 720px;
        bottom: 40px;
    }

    #registerForm {
        top: 50px;
        left: 800px;
    }

    #loginSubmit {
        right: 55px;
        bottom: 2px;
        color: orange;
        background-color: red;
    }

    #loginSubmit, #registerSubmit {
        border-radius: 5px;
    }

    #registerSubmit {
        width: 150px;
        height: 30px;
        top: 42px;
        right: 160px;
        color: red;
        background-color: springgreen;
    }

    input {
        background-color: red;
    }

    #signUpToday {
        top: 20px;
        left: 860px;
    }

    #emIn {
        left: 82px;
    }

    #passIn {
        left: 59px;
    }

    #fName {
        left: 49px;
    }

    #lName {
        left: 51px;
    }

    #aliasIn {
        left: 87px;
    }

    #loginEmail {
        margin-right: 10px;
    }

    div {
        display: inline-block;
        position: relative;
        bottom: 250px;
    }

    #share {
        color: blue;
        font-size: 3em;
    }

    #shareSpan {
        position: relative;
        top: 30px;
        right: 300px;
        text-align: center;
    }
</style>

<header>
    <h1 id="header">Local Social</h1>
    <form action='/users/login' method="post" id="loginForm">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <span>Email</span><br><input type="text" name="login[email]" id="loginEmail">
        <input type="password" name="login[password]">
        <span id="password">Password</span>
        <input type="submit" value="Log In" id="loginSubmit">
    </form>
</header>
<span id="shareSpan"><h1 id="share">Share your posts<br>with friends<br>and the world!</h1></span>
<div>
    <h1 id="signUpToday">Sign Up Today!</h1>
    <form action='/users/new' method="post" id="registerForm">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <span>First Name:</span> <input type="text" name="user[firstName]" id="fName">
        <br>
        <br>
        <span>Last Name:</span> <input type="text" name="user[lastName]" id="lName">
        <br>
        <br>
        <span>Alias:</span> <input type="text" name="user[alias]" id="aliasIn">
        <br>
        <br>
        <span>Email:</span> <input type="text" name="user[email]" id="emIn">
        <br>
        <br>
        <span>Password:</span> <input type="password" name="user[password]" id="passIn">
        <br>
        <br>
        <span>Confirm Password:</span> <input type="password" name="user[password_confirmation]">
        <input type="submit" value="Sign Up" id="registerSubmit">
    </form>
</div>