<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cars</title>
        <link rel="stylesheet" type="text/css" href="cars.css">
    </head>
    <body>
        <div>
            <img src="/img/sestoElemento.jpg">
        </div>
        <div>
            <img src="/img/mclaren.jpg">
        </div>
        <div>
            <img src="img/chiron.jpg">
        </div>
        <div>
            <img src="img/maserati.jpg">
        </div>
    </body>
</html>