<!DOCTYPE html>
<html>
    <head>
        <title>Cats</title>
        <link rel="stylesheet" type="text/css" href="cats.css">
    </head>
    <body>
        <div>
            <img src="img/cat1.jpg">
        </div>
        <div>
            <img src="img/cat2.jpg">
        </div>
        <div>
            <img src="img/cat3.jpg">
        </div>
        <div>
            <img src="/img/cats.jpg">
        </div>
        <div>
            <img src="/img/cats2.jpg">
        </div>
    </body>
</html>