<!DOCTYPE html>
<html>
    <head>
        <title>New Car</title>
        <link rel="stylesheet" type="text/css" href="form.css">
    </head>
    <body>
        <form>
            Brand Name: <input type="text" name="bname">
            Model: <input type="text" name="model">
            Year: <input type="number" name="year">
            Color: <input type="text" name="color">
            Mileage: <input type="number" name="mileage">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>