<!DOCTYPE html>
<html>
    <head>
        <title>Pets</title>
        <style>
            #all {
                position: relative;
                left: 495px;
                color: red;
                font-size: 3em;
            }

            #add {
                position: relative;
                left: 520px;
                color: red;
                font-size: 3em;
            }

            table {
                width: 500px;
                height: 100px;
                position: relative;
                left: 370px;
                border: 1px solid red;
            }

            table th{
                color: red;
                border: 1px solid orange;
            }

            table td {
                color: orange;
                border: 1px solid hotpink;
            }

            form {
                position: relative;
                left: 518px;
                bottom: 21px;
            }

            input {
                display: block;
                position: relative;
                left: 50px;
                bottom: 21px;
            }

            #submit {
                position: relative;
                bottom: 8px;
                left: 100px;
            }
        </style>
    </head>
    <body>
        <h1 id="all">All the Pets!</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            {% for one_pet in all_pets %}
            <tr>
                <td>{{one_pet["idpets"]}}</td>
                <td>{{one_pet["name"]}}</td>
                <td>{{one_pet["type"]}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h1 id="add">Add a Pet</h1>
        <form action="/create_pet", method="POST">
            Name: <input type="text" name="name">
            Type: <input type="text" name="type">
            <input type="submit" name="add pet" id="submit">
        </form>
    </body>
</html>