<!DOCTYPE html>
<html>
<head>
    <title>Full Stack Login</title>
    <style>
        body {
            background-color: #000;
            color: red;
        }

        #header {
            position: relative;
            left: 415px;
            color: red;
            font-size: 3em;
        }

        #register, #login {
            display: inline-block;
            width: 400px;
            position: relative;
            font-weight: bold;
        }

        #register {
            float: left;
            left : 30px;
        }


        #login {
            float: right;
            right: 30px;
        }

        input {
            display: block;
            width: 100%;
            margin-top: 15px;
            border-radius: 5px;
        }

        button {
            color: #fff;
            background-color: green;
            margin-top: 5px;
            border-radius: 5px;
        }

        #one, #two {
            position: relative;
        }

        #one {
            top: 10px;
            left: 30px;
        }

        #two {
            top: 10px;
            left: 415px;
        }
    </style>
</head>
<body>
    <h1 id="header">Login & Registration</h1>
    <h1 id="one">Register Here!</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/registered" method="POST" id="register">
        {% csrf_token %}
        First Name:
        <input type="text" name="first_name">
        Last Name:
        <input type="text" name="last_name">
        Email Address:
        <input type="email" name="email">
        Password:
        <input type="password" name="password">
        Confirm Password:
        <input type="password" name="confirm_password">
        <button type="submit" name="submit">Register!</button>
    </form>

    <h1 id="two">Login Here!</h1>
    <form action="/success" method="POST" id="login">
        {% csrf_token %}
        Email Address:
        <input type="email" name="email">
        Password:
        <input type="password" name="password">
        <button type="submit" name="submit">Login!</button>
    </form>
</body>
</html>