<!DOCTYPE html>
<html>
    <head>
        <title>Successful</title>
        <style>
            * {
                color: red;
            }

            body {
                background-color: #000;
            }

            h1 {
                color: green;
            }

            button {
                color: #fff;
                background-color: green;
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>Successful</h1>
        <h2>Welcome, {{ user.first_name }}!</h2>
        <button><a href="/logout">Logout!</a></button>
    </body>
</html>