<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    
</head>
<body>
      <nav class="navbar navbar-dark bg-dark mb-4">
        <h1 class="navbar-brand">THE DOJO MESSAGE BOARD</h1>
<hr>
        <!-- tip to easily see objects printed in full instead of [object Object] -->
        <%- JSON.stringify(messages) %> 
        <!-- based on the structure of your messages, determine how to display them -->
        <% if(messages.Error) { %>
            <% for (var x of messages.Error) { %>
            <h3><%= x %></h3>
            <% } %>
        <% } %>
        <hr>
      </nav>
      <form class="col-4 mb-4" action="/messages" method="post">
        <h3>Post Message</h3>
        <div class="form-group">
          <input type="text" name="message_name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <textarea name="message_message" rows="4" class="form-control" placeholder="Message"></textarea>
        </div>
        <button class="btn btn-primary ml-auto" type="submit">Post message</button>
      </form>
      <hr>
      <div class="container-fluid">
        <% for (var i of allMessages) { %>
          <h3>Name: <%= i.name %></h3>
          <h3 class="mb-3">Message: <%= i.messages %></h3>
          <div class="offset-1">
            <% for (var j of i.comments) { %>
              <p>Name: <%= j.name %></p>
              <p>Comment: <%= j.comment %></p>
            <% } %>
            <form class="col-4 mb-4" action="/comments/<%= i.id %>" method="post">
                <h3>Post Comment</h3>
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <textarea name="comment" rows="4" class="form-control" placeholder="Comment"></textarea>
              </div>
              <button class="btn btn-primary ml-auto" type="submit">Post comment</button>
            </form>
          </div>
          <hr>
        <% } %>
      </div>
      <script type="text/javascript" src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>