div {
    position: relative;
    left: 500px;
}

h2 {
    position: relative;
    right: 500px;
    color: red;
    text-align: center;
}

input[type = submit] {
    margin-left: 100px;
}

#name {
    margin-left: 11px;
}

#age {
    margin-left: 22px;
}

button {
    color: orange;
    background-color: red;
}