<!DOCTYPE html>
<html>
    <head>
        <title>Make a Quote</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <div>
            <h1>Welcome to Quoting Dojo</h1>
            <form action="/quotes" method="POST">
                <p>Your Name:</p><input type="text" name="name">
                <br>
                <p>Your Quote:</p><input type="text" name="quote">
                <br>
                <input type="submit" value="Add my Quote!">
            </form>
            <br>
            <a href="/quotes"><button>Skip to Quotes!</button></a>
        </div>
    </body>
</html>