<!DOCTYPE html>
<html>
    <head>
        <title>Quotes</title>
        <link rel="stylesheet" type="text/css" href="quotes.css">
    </head>
    <body>
        <a href="/"><button>Create a Quote!</button></a>
        <div>
            <h1>Here are the awesome Quotes!</h1>
            <% for (var x in allQuotes) { %>
                <h3><span>Quote:</span> <%= allQuotes[x].quote %></h3>
                <h3>-<%= allQuotes[x].creator %> at <%= allQuotes[x].createdAt.toDateString() %></h3>
                <br>
            <% } %>
        </div>
    </body>
</html>