<!DOCTYPE html>
<html>
    <head>
        <title>Edit Account</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pythonTestApp/css/editAccount.css' %}">
    </head>
    <body>
        <h1>Edit Account</h1>
        <form action="/editAccount/{{user.id}}" method="POST">
            {% csrf_token %}
            First Name:<input type="text" name="first_name">
            Last Name:<input type="text" name="last_name">
            Email Address:<input type="email" name="email">
            <button type="submit" name="submit" id="editAccount">Update</button>
        </form>
        <a href="/quotes">Back to home</a>
    </body>
</html>