<!DOCTYPE html>
<html>
<head>
    <title>{{ user.first_name }} {{ user.last_name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pythonTestApp/css/quote.css' %}">
</head>
<body>
    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    <hr>
        <ul>
            {% for quotes in user.quotesUploaded.all %}
                <li>{{ quotes.quote }}</li>
            {% endfor %}
        </ul>
        <a href="/quotes">Home</a>
    <form action="/logout">
        {% csrf_token %}
        <button type="submit" id="logoutButton">Logout</button>
    </form>
</body>
</html>