<!DOCTYPE html>
<html>
    <head>
        <title>Quotes</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pythonTestApp/css/quotes.css' %}">
    </head>
    <body>
        <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
        <a href="/editAccount/{{user.id}}">Edit Account</a>
        <form action="/logout">
            {% csrf_token %}
            <button type="submit" id="logoutButton">Logout</button>
        </form>
        <hr>
        <h2>Add a Quote!</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/addQuote" method="POST">
            {% csrf_token %}
            Quote<input type="text" name="quote" id="quote">
            <br>
            <button type="submit">Add</button>
        </form>
        <h2 id="allQuotes">All Quotes</h2>
        <ul id="quoteList">
            {% for quote in quotes %}
            <li>{{ quote.quote }}</li>
            (added by <a href="/usersQuotes/{{quote.id}}">{{ quote.uploadedBy.first_name }} {{ quote.uploadedBy.last_name }}</a>)
            {% if user not in quote.usersWhoLike.all %}
                <form action="/addFavs/{{quote.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Favorite">
                </form>
            {% endif %}
            {% if user in quote.usersWhoLike.all %}
            <p>This is one of your Favorites</p>
            {% endif %}
            {% endfor %}
            {% for quote in quotes %}
            {% if user == quote.uploadedBy %}
        <form action="/delete/{{quote.id}}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% endif %}
        {% endfor %}
        </ul>
    </body>
</html>