<div id="wrapper">
    <button [routerLink]="['/home']" class="btn">Restaurants</button>
    <button id="delete" (click)="onDelete()" class="btn">Delete Restaurant</button>
    <h1>Reviews</h1>
    <div id="restaurantsWrapper">
        <div *ngFor="let review of restaurants?.review" class="show"> 
            <div>
                <p>Reviewed By: {{review.name}}</p>
                <p>Stars Given: {{review.stars}}</p>
                <p>Review: {{review.reviews}}</p>
            </div>
        </div>
    </div>
</div>