.show {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid red;
    text-align: center;
}

.btn {
    position: relative;
    top: 10px;
    left: 5px;
    margin-right: 5px;
    background-color: red;
    color: orange;
    border-radius: 5px;
}

#wrapper {
    width: 100%;
    height: 1000px;
    background-color: #000;
    color: red;
}