<h1>Movie List</h1>
<button [routerLink]="['/create']">Add a new movie</button>
<div *ngFor="let movie of movies">
    <p>{{movie.title}}</p>
<button [routerLink]="['/showreviews/' + movie._id]" id="readReview">Read Reviews</button> <button [routerLink]="['/writereview/' + movie._id]" id="writeReview">Write Review</button><button [routerLink]="['/update/'+ movie._id]">Edit</button>
</div>